.colorCafe{
    background-color: #5D2410;
}
.colorCafeAmargo{
    background-color: #471909;
}
.colorCafeLeite{
    background-color: #EDE1D1;
}
.colorCafeCreme{
    background-color: #FFE2D6;
}
CardProduto{
    background-color: blueviolet;
}